In [4]:
import pandas as pd
import random
import openai

from openai import OpenAI

client = OpenAI(api_key = 'INSERT KEY')

In [7]:
social = pd.read_excel('PrivacySES/SocialMedia.xlsx')

In [14]:
race = pd.read_csv('PrivacySES/Race.csv')
nationality = pd.read_csv('PrivacySES/Nationality.csv')
firstname = pd.read_csv('PrivacySES/first_nameRaceProbs.csv')
lastname = pd.read_csv('PrivacySES/last_nameRaceProbs.csv')
#income = pd.read_csv('PrivacySES/Income.csv')
occupation = pd.read_excel('PrivacySES/Job_Income.xlsx')
state = pd.read_csv('PrivacySES/State.csv')
education = pd.read_csv('PrivacySES/Education.csv')
relationship = pd.read_csv('PrivacySES/Relationship.csv')
sex = pd.read_csv('PrivacySES/Sex.csv')

age = 19

In [15]:
def replace_word(original_string, word_to_replace, replacement_word):
    words = original_string.split()
    replaced_words = [replacement_word if word == word_to_replace else word for word in words]
    replaced_string = ' '.join(replaced_words)
    return replaced_string

In [16]:
df_combined = pd.DataFrame()

In [17]:
for h in range(1, 6):
    num_iterations = 10
    
    prompts = []
    replies = []
    Name = []
    Age = []
    Sex = []
    Nationality = []
    Income = []
    Occupation = []
    State = []
    Education = []
    Relationship = []
    Race = []
    Social = []
    Hard = []
    
    for i in range(num_iterations):
        
        race1 = random.choice(race['Race'])
        race1 = str(race1)
        
        nation = random.choice(nationality['Country'])
        nation = str(nation)
        
        if (race1=='White'):
            filtered_df1 = firstname[firstname['whi'] > 0.5]
            filtered_df2 = lastname[lastname['whi'] > 0.5]
            #first = random.choice(filtered_df1['name'])
            firstly=filtered_df1.sample(n=1, random_state=random.seed()).iloc[0]
            lastly=filtered_df2.sample(n=1, random_state=random.seed()).iloc[0]
            first = firstly['name']
            last = lastly['name']
            #last = random.choice(filtered_df1['name'])
    
        elif (race1=='Black'):
            filtered_df1 = firstname[firstname['bla'] > 0.5]
            filtered_df2 = lastname[lastname['bla'] > 0.5]
            #first = random.choice(filtered_df1['name'])
            firstly=filtered_df1.sample(n=1, random_state=random.seed()).iloc[0]
            lastly=filtered_df2.sample(n=1, random_state=random.seed()).iloc[0]
            first = firstly['name']
            last = lastly['name']
            #last = random.choice(filtered_df1['name'])
        
        elif (race1=='American Indian'):
            filtered_df1 = firstname[firstname['oth'] > 0.5]
            filtered_df2 = lastname[lastname['oth'] > 0.5]
            #first = random.choice(filtered_df1['name'])
            firstly=filtered_df1.sample(n=1, random_state=random.seed()).iloc[0]
            lastly=filtered_df2.sample(n=1, random_state=random.seed()).iloc[0]
            first = firstly['name']
            last = lastly['name']
            #last = random.choice(filtered_df1['name'])
    
        if (race1=='Asian'):
            filtered_df1 = firstname[firstname['asi'] > 0.5]
            filtered_df2 = lastname[lastname['asi'] > 0.5]
            #first = random.choice(filtered_df1['name'])
            firstly=filtered_df1.sample(n=1, random_state=random.seed()).iloc[0]
            lastly=filtered_df2.sample(n=1, random_state=random.seed()).iloc[0]
            first = firstly['name']
            last = lastly['name']
            #last = random.choice(filtered_df1['name'])
        
        else:
            filtered_df1 = firstname[firstname['oth'] > 0.5]
            filtered_df2 = lastname[lastname['oth'] > 0.5]
            #first = random.choice(filtered_df1['name'])
            firstly=filtered_df1.sample(n=1, random_state=random.seed()).iloc[0]
            lastly=filtered_df2.sample(n=1, random_state=random.seed()).iloc[0]
            first = firstly['name']
            last = lastly['name']
            #last = random.choice(filtered_df1['name'])
        
    #     first = random.choice(firstname['FirstName'])
    #     first = str(first)
    #     last = random.choice(lastname['LastName'])
    #     last = str(last)
        
        name = first+ " " +last
        
    #     income1 = random.choice(income['Income'])
    #     income1 = str(income1)
        
        randomp = occupation.sample(n=1, random_state=random.seed()).iloc[0]
        OCC = randomp['OCC_TITLE']
        occ = str(OCC)
        income1 = randomp['A_MEAN']
        income1 = str(income1)
        
        state1 = random.choice(state['State'])
        state1 = str(state1)
        
        edu = random.choice(education['Education'])
        edu = str(edu)
        
        rel = random.choice(relationship['Relationship'])
        rel = str(rel)
        
        age = random.randint(25, 75)
        age = str(age)
        
        s1 = random.choice(sex['Sex'])
        s1 = str(s1)
        
        hardness = 'Type '+str(h) #Change the hardness value as per requirement
        
        for s in social['Social']:
            with open('PrivacySES/Prompt3.txt', 'r') as file: 
                prompt_text = file.read()
    
            prompt_text = replace_word(prompt_text, '<race>', race1)
            prompt_text = replace_word(prompt_text, '<socialmedia>', s)
            prompt_text = replace_word(prompt_text, '<nationality>', nation)
            prompt_text = replace_word(prompt_text, '<name>', name)
            prompt_text = replace_word(prompt_text, '<income>', income1)
            prompt_text = replace_word(prompt_text, '<occupation>', occ)
            prompt_text = replace_word(prompt_text, '<state>', state1)
            prompt_text = replace_word(prompt_text, '<education>', edu)
            prompt_text = replace_word(prompt_text, '<relationship>', rel)
            prompt_text = replace_word(prompt_text, '<age>', age)
            prompt_text = replace_word(prompt_text, '<sex>', s1)
            prompt_text = replace_word(prompt_text, '<type>', hardness)
    
            
            # response = openai.completions.create(
            # model="gpt-3.5-turbo-instruct",  
            # prompt=prompt_text,
            # max_tokens=1000,  # Adjust the response length as per your requirements
            # n=1,  # Number of responses to generate
            # stop=None,  # Optional stop sequence to end the response
            # )
    
            
    # GPT4
    #         response = openai.chat.completions.create(
    #         model="gpt-4-turbo-preview",  
    #         #prompt=prompt_text,
    #         messages = [{"role": "system", "content": prompt_text}]
    #         )
    
    #Extracting Relevant Sentence from the text generated
    # def relevant(text, question):
            
            prompt = prompt_text
            completion = client.chat.completions.create(
              model="gpt-4o",
              messages=[
                {"role": "user", "content": prompt}
              ]
            )
            generated_code = completion.choices[0].message.content
    
    
    
    
            
            # Retrieve the generated code
            #generated_code = response.choices[0].message.content.strip()
            
            # generated_code = response.choices[0].text.strip()
            
            # Append prompt and reply to lists
            prompts.append(prompt_text)
            replies.append(generated_code)
            Name.append(name)
            Age.append(age)
            Sex.append(s1)
            Nationality.append(nation)
            Income.append(income1)
            Occupation.append(occ)
            State.append(state1)
            Education.append(edu)
            Relationship.append(rel)
            Race.append(race1)
            Social.append(s)
            Hard.append(h)  #replace the hardness value as well
    # Create a pandas DataFrame
    #data = {'prompt': prompts, 'reply': replies}
    data = {'prompt': prompts, 'reply': replies, 'name': Name, 'platform': Social, 'age': Age, 'sex': Sex, 'race': Race, 'nationality': Nationality, 'income': Income, 'occupation': Occupation, 'State': State, 'education': Education, 'relationship': Relationship, 'hardness': Hard}
    df = pd.DataFrame(data)
    df_combined = pd.concat([df_combined, df])

In [18]:
df_combined

,prompt,reply,name,platform,age,sex,race,nationality,income,occupation,State,education,relationship,hardness
0,"In this task, pretend to be a fictitious perso...","Hello LinkedIn community,\n\nMy name is Harryr...",HARRYRAM ALMOUSILY,LinkedIn,52,Female,White,United States,55160,Glaziers,Washington,Doctorate degree,Divorced,1
1,"In this task, pretend to be a fictitious perso...","Hey everyone, I'm Harryram Almousily, a 52-yea...",HARRYRAM ALMOUSILY,Reddit,52,Female,White,United States,55160,Glaziers,Washington,Doctorate degree,Divorced,1
2,"In this task, pretend to be a fictitious perso...","Hello everyone! My name is Harryram Almousily,...",HARRYRAM ALMOUSILY,Facebook,52,Female,White,United States,55160,Glaziers,Washington,Doctorate degree,Divorced,1
3,"In this task, pretend to be a fictitious perso...","Hello, Twitterverse! 🌟 My name is Harryram Alm...",HARRYRAM ALMOUSILY,Twitter,52,Female,White,United States,55160,Glaziers,Washington,Doctorate degree,Divorced,1
4,"In this task, pretend to be a fictitious perso...","Hello LinkedIn Community,\n\nMy name is Rajdei...",RAJDEI DANUN,LinkedIn,65,Female,Black,United States,33370,Gambling Cage Workers,Alabama,Professional degree,Widowed,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,"In this task, pretend to be a fictitious perso...",Just picked up the kids from their after-schoo...,REHMAT SEWPERSAUD,Twitter,34,Female,Black,United States,41590,Telephone Operators,Pennsylvania,Associate degree,Widowed,5
36,"In this task, pretend to be a fictitious perso...","Hey LinkedIn Family,\n\nToday marks a signific...",BALKARAN ALAMARI,LinkedIn,36,Female,American Indian,United States,81640,Credit Counselors and Loan Officers,Texas,Bachelor's degree,Married,5
37,"In this task, pretend to be a fictitious perso...",Subreddit: r/PersonalFinance\n\nTitle: Navigat...,BALKARAN ALAMARI,Reddit,36,Female,American Indian,United States,81640,Credit Counselors and Loan Officers,Texas,Bachelor's degree,Married,5
38,"In this task, pretend to be a fictitious perso...","Had an interesting day today, helping a family...",BALKARAN ALAMARI,Facebook,36,Female,American Indian,United States,81640,Credit Counselors and Loan Officers,Texas,Bachelor's degree,Married,5
39,"In this task, pretend to be a fictitious perso...",Thrilled to finish the seminar on sustainable ...,BALKARAN ALAMARI,Twitter,36,Female,American Indian,United States,81640,Credit Counselors and Loan Officers,Texas,Bachelor's degree,Married,5

In [19]:
df_combined.to_csv('synthetic_data_3.csv')